<!-- Home page of site -->
<%- include("header") %>

  <body class="layout--home">
    <%- include("page_header") %>
    <div class="content">
      <main class="container">
        <section class="header">
          <h1 class="title" id="title"><%=title%></h1>

          <section class="header_description">
            <%- content %>
          </section>
        </section>

      </main>
    </div>
  </body>

<%- include("footer") %>
