<%- include("header") %>

  <%
    let list, pagination = null;
    if (locals.category) {
      list = locals.category.items;
      pagination = locals.category.pagination;
    } else if (locals.tag) {
      list = locals.tag.items;
      pagination = locals.tag.pagination;
    }
  %>

  <body class="layout--home">
    <%- include("page_header") %>
    <div class="content">
      <main class="container">
        <section class="header">
          <h1 class="title" id="title"><%- helpers.markdownInline(locals.customTitle ?? locals.title) %></h1>

          <section class="header__description">
            <%- content %>
          </section>
        </section>

        <%- include("blocks", { blocks: list ?? [], pagination }) %>
      </main>
    </div>
  </body>

<%- include("footer") %>
