<!-- The main blog page -->
<%- include("header") %>

  <body>
    <%- include("page_header") %>
    <div class="content">

      <main class="container">
        <section class="header">
          <h1 class="title" id="title"><%= title %></h1>
          <div class="header__details">
            <span class="header__details-author icon icon-person">
              <%= author %>
            </span>
            <span class="header__details-date icon icon-calendar" data-date="<%= date.toISOString() %>">
              <%= date.toLocaleString() %>
            </span>
            <span class="header__details-category icon icon-list-unordered">
              <% if (typeof category !== "undefined" && Array.isArray(category)) { %>
              <%= category.join(", ") %>
              <% } %>
            </span>
            <span class="header__details-tags icon icon-tag">
              <% if (typeof tag !== "undefined" && Array.isArray(tag)) { %>
              <%= tag.join(", ") %>
              <% } %>
            </span>
          </div>
        </section>

        <%- content %>

      </main>
    </div>
  </body>

<%- include("footer") %>
